/* user list css */
/* .user-container{
  background-color: #4e6086;
} */
.logout-button {
  height: 50px;
  width: 150px;
  float: right;
  border-radius: 20px;
  background-color: #84addb;
  font-weight: 700;
}

.logout-button:hover {
  background-color: rgb(238, 65, 21);
}

.del-button {
  height: 45px;
  background-color: #84addb;
  width: 110px;
  color: black;
  border-radius: 9px;
  font-weight: 500;

}

.del-button:hover {
  /* background-color: #4d88cc; */
  background-color: rgb(182, 76, 76);
  font-weight: 700;
}

.dialogBox {
  opacity: 0.1;
}

.btn2 {
  height: 45px;
  background-color: #84addb;
  width: 110px;
  color: black;
  border-radius: 6px;
  font-weight: 500;

}

.btn2:hover {
  /* background-color: #4d88cc; */
  background-color: rgb(136, 168, 72);
  font-weight: 700;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* updateuser css */

.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  margin-top: 90px;
}

.centered-form div {
  margin-bottom: 10px;
  width: 50%;
}

.centered-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.centered-form input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.centered-form button {
  padding: 10px 15px;
  /* background-color: #007bff; */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 60%;
  font-weight: 600;
}

.centered-form button:hover {
  /* background-color: #0056b3; */
  background-color: #3d8540;
}